{{#each comments}}
    <div class="mdl-card__supporting-text mdl-card--border">
              <div class="comment-body">  
              <strong>{{this.author}}</strong>

              <p>{{this.body}}</p>
              </div>
              <div>
                <button class="mdl-button mdl-js-button mdl-button--icon comment-action">
                    <i class="material-icons">delete_forever</i>
                </button>
              </div>
    </div>


{{/each}}