<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/img/brand.png"> NPR World News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ml-4">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item ml-2">
        <button class="btn btn-info" id="scrape">Scrape Articles</button>
      </li>
    </ul>
  </div>
</nav>
{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="background"></div>
    <h1 class="display-4 text-center"><strong>NPR World News Scraper</strong></h1>
    <p class="lead text-center"><strong>Utilizing Mongo</strong></p>
  </div>
</div>
{{!-- Where each article scarpped is displayed --}}
{{#each articles}}

<div class="card mx-auto mb-5">
  <div class="card-header bg-info">
    <a class="text-white" href="{{link}}" target="_blank">{{title}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{summary}}.</p>
    <button class="btn btn-dark" id="save" data-id="{{_id}}">Save Article</button>
  </div>
</div>

{{/each}}